<%= form_for(@job) do |i| %>
        <p>
         <%= i.label :name %><br>
         <%= i.text_field :name %>
        </p>
        <p>
          <%= i.label :Start %><br>
          <%= i.datetime_select :start_date %>
          
        </p>
        <p>
          <%= i.label :End %><br>
          <%= i.datetime_select :end_date %>
          
        </p>

        <p>
          <%= i.label :Description %><br>
          <%= i.text_field :description %>
        </p>


    <%= i.submit %>
<% end %>

