<h1>Jobs</h1>
<%= link_to "New Job", new_job_url %>
<%= link_to "List Todays Jobs", todays_jobs_url %>
</br>
</br>


<% @jobs.each do |j| %>
<%= j.name %> 
</br>
<%= j.created_at %>
        <%= link_to "Edit", edit_job_path_url(j) %>
        <%= link_to "delete", job_path(j), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------

</br>
<% end%>

