<h1>New Job </h1>

<%= form_for :job, url: jobs_path do |f| %>
	<p>
	 <%= f.label :name %><br>
	 <%= f.text_field :name %>
	</p>
        <p>
          <%= f.label :Start %><br>
	  <%= f.datetime_select :start_date %>
        </p>
        <p>
          <%= f.label :End %><br>
	  <%= f.datetime_select :end_date %>
        </p>

        <p>
          <%= f.label :Description %><br>
	  <%= f.text_field :description %>
        </p>

        <p>
          <%= f.submit %><br>
        </p>
<% end %>


<%= DateTime.current() %>
