<h1>Todays Jobs</h1>
<%= link_to "New Job", new_job_url %>
</br>
</br>


<% @jobs.each do |j| %>
<%= j.name %> - <%= j.start_date %>
	</br>
        <%= link_to "Start Job", :jobs => method: :startjob %> ------------------ <%= link_to "End Job", method: :endjob %>
link_to "Label", :controller => :my_controller, :action => :index
	</br>
        <%= link_to "delete", job_path(j), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------
</br>
<% end%>


</br>
<%= Date.today %>
<p>
Email Items
</p>

