<h1>Todays Jobs</h1>
<%= link_to "New Job", new_job_url %>
</br>
</br>


<% @jobs.each do |j| %>
<%= j.name %> - <%= j.start_date %>
	</br>
	<% if j.start_date == nil %>
	  <%= link_to "Start Job", startjob_job_path(j) %>
	<% end %>


------------------ 


<%= link_to "End Job", method: :endjob %>

	</br>
        <%= link_to "delete", job_path(j), method: :delete, data: { confirm: "You sure?" } %>
</br>
</br>
<% end%>


</br>
<%= Date.today %>
<p>
Email Items
</p>

http://stackoverflow.com/questions/13182661/rails-3-how-do-i-use-link-to-to-change-the-value-of-a-boolean-in-the-db

