<h1>Todays Jobs</h1>
<%= link_to "New Job", new_job_url %>
</br>
</br>


<% @jobs.each do |j| %>
<strong><%= j.name %> </strong>
	</br>
	<% if j.start_date == nil %>
	  <%= #link_to "Start Job", startjob_job_path(j) 
		%>
	  <%= button_to "Start", startjob_job_path(j), :class => 'myButton', :method => :get %>
	<% else %>
	  <%= j.start_date.strftime("%I:%M%p") %> - <%= current_user.name.at(0) %>
	<% end %>
 ------------------ 
	<% if j.end_date == nil %>
	  <%= #link_to "End Job", endjob_job_path(j) 
		%>
	  <%= button_to "End", endjob_job_path(j), :class => 'myButton', :method => :get %>
	<% else %>
	  <%= j.end_date.strftime("%I:%M%p") %> - <%= current_user.name.at(0) %>
	<% end %>

	</br>
        <%= link_to "delete", job_path(j), method: :delete, data: { confirm: "You sure?" } %>
</br>
</br>
<% end %>


</br>
<p>
<%= link_to "Email Jobs", email_view_jobs_url %>
</p>

<% #http://stackoverflow.com/questions/13182661/rails-3-how-do-i-use-link-to-to-change-the-value-of-a-boolean-in-the-db %>

