<%= form_for(@type) do |i| %>
        <p>
         <%= i.label :name %><br>
         <%= i.text_field :name %>
        </p>

        <p>
          <%= i.label :category %><br>
          <%= i.text_field :category %>
        </p>


    <%= i.submit %>
<% end %>

