<%= form_for :type do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
