<h1>Types</h1>
</br>
</br>

<% @types.each do |t| %>
<%= t.name %> - <%= t.category %>

</br>
<%= t.created_at.strftime("%d-%m-%Y") %>
        <%= link_to "Edit", edit_type_path(t) %>
        <%= link_to "delete", type_path(t), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------

</br>
<% end%>
