<h1>Bookings</h1>

<% @bookings.each do |b| %>
  <%= b.location.name %> - <%= b.task.name %> - <%= b.booked_time %>
        <%= link_to "Edit", edit_booking_path(b) %>
        <%= link_to "delete", booking_path(b), method: :delete, data: { confirm: "You sure?" } %>

</br>
<% end%>
