<%= render 'layouts/header_controls' %>
<h2>To Schedule</h2>
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>Account</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Booking.unscheduled.each do |t| %>
      <tr>
        <th scope="row"><%= t.location.customer.name %></th>
        <td><%= t.location.name %></td>
        <td class='text-center'>
  	       <div class="form-group">
             <%= button_to edit_booking_path(t), :class=>'btn btn-xs',
                 :method => :get do %>
  		         <span class='glyphicon glyphicon-pencil'></span>
  		       <% end %>
  			     <span class='glyphicon glyphicon-calendar'></span>
  	      </div>
  	    </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<h2>Scheduled</h2>
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>Account</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Booking.scheduled.each do |t| %>
       <tr>
        <th scope="row"><%= t.location.customer.name %></th>
        <td><%= t.location.name %></td>
        <td class='text-center'><%= t.booked_time.strftime("%d-%m-%Y") %></span></td>
        <td class='text-center'>
          <%= button_to booking_path(t), method: :delete,
              data: { confirm: "You sure?" },
              :class=>'btn btn-xs btn-warning' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
     <% end %>
   </tbody>
  </table>