<h1><%= @booking.location.name %></h1>
<strong>
  <%= @booking.location.name %> -
  <%= link_to @booking.location.address,
      "http://maps.google.com/?q=#{@booking.location.address}",
      :target => "_blank" %></strong></br>
  <%= @booking.task.name %></br>
  <%= @booking.description %></br>

  <% if @booking.work_has_ended %>
    <%= @booking.start_datetime.strftime("%I:%M%p") %> - <%= current_user.name.at(0) %> -
    <%= @booking.end_datetime.strftime("%I:%M%p") %> - <%= current_user.name.at(0) %>
  <% else %>
    <% if @booking.work_has_started %>
      <%= @booking.start_datetime.strftime("%I:%M%p") %> -
      <%= current_user.name.at(0) %> -
      <%= button_to "End", end_work_path, :class => 'btn btn-success btn-lg' %>
    <% else %>
      <%= button_to "Start", start_work_path, :class => 'btn btn-success btn-lg' %>
    <% end %>
  <% end %>
