<h2>Todays Bookings</h2>
<div class="list-group">
  <% @bookings.each do |b| %>
    <a href="<%= booking_path(b) %>" class="list-group-item list-group-item-action">
      <h3 class="list-group-item-heading"><%= b.location.name %></h3>
      <% if b.end_datetime != nil %>
      	<span class="pull-right">
      		<span class="glyphicon glyphicon-ok-sign"
                style="font-size: 25px; color: green;"></span>
      	</span>
      <% end %>
      <p class="list-group-item-text">
        <%= b.task.name %> :<%= b.booked_time.strftime("%d-%m-%Y - %H:%M") %></p>
    </a>
  <% end %>
</div>
<p>
  <%= link_to "Email Jobs", email_view_bookings_url %></p>
