<%= form_for(@customer) do |i| %>
        <p>
         <%= i.label :name %><br>
         <%= i.text_field :name %>
        </p>

        <p>
          <%= i.label :address %><br>
          <%= i.text_field :address %>
        </p>

        <p>
          <%= i.label :suburb %><br>
          <%= i.text_field :suburb %>
        </p>

        <p>
          <%= i.label :state %><br>
          <%= i.text_field :state %>
        </p>

        <p>
          <%= i.label :postcode %><br>
          <%= i.text_field :postcode %>
        </p>

        <p>
          <%= i.label :country %><br>
          <%= i.text_field :country %>
        </p>

        <p>
          <%= i.label :email %><br>
          <%= i.text_field :email %>
        </p>

        <p>
          <%= i.label :phone %><br>
          <%= i.text_field :phone %>
        </p>

    <%= i.submit %>
<% end %>

