<h1>Customers</h1>
</br>
<% @customers.each do |t| %>
<%= t.name %> - <%= t.address %>
</br>
  <%= link_to "Edit", edit_customer_path(t) %> -
	<%= link_to "Learn more", customer_path(t) %> -
  <%= link_to "delete", customer_path(t), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------

</br>
<% end%>
