 <h2>Property list</h2>
	
    <% @propertys.each do |property| %>
      <h3><%= property.name %></h3>
      <p><%= property.numberunit %>, <%= property.street%></br>
         <%= property.suburb %>, <%= property.postcode%></br>
	<%= property.phone %></br>
	map </p>
        <%= link_to "Edit", edit_property_path_url(property) %>
        <%= link_to "delete", property_path(property), method: :delete, data: { confirm: "You sure?" } %>

	<% end %>
