<%= form_for(@location) do |i| %>
        <p>
         <%= i.label :name %><br>
         <%= i.text_field :name %>
        </p>

        <p>
          <%= i.label :address %><br>
          <%= i.text_field :address %>
        </p>
	
        <p>
          <%= i.label :customer %><br>
          <%= i.text_field :customer %>
        </p>

    <%= i.submit %>
<% end %>

