<%= form_for(@location) do |i| %>
        <p>
         <%= i.label :name %><br>
         <%= i.text_field :name %>
        </p>

        <p>
          <%= i.label :address %><br>
          <%= i.text_field :address %>
        </p>
	
        <p>
          <%= i.collection_select :customer_id, Customer.order(:name),:id,:name, include_blank: true %><br>
        </p>

    <%= i.submit %>
<% end %>

