
<%= render 'layouts/header_controls' %>
  <h1>Locations</h1>
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
	<th>Customer</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
	<th></th>
      </tr>

    </thead>
  <tbody>

<% @locations.each do |t| %>
    <tr>
      <th scope="row"><%= link_to edit_location_path(t),:class=>'deco-none nounderline' do %>
                <div id="clickable">
		<%= t.customer.name 
		%>
		</div>
                <%end %></th>

      <td><%= link_to edit_location_path(t) do %>
		<div id="clickable">
		<%= t.name %>
		</div>
		<%end %></td>
      <td><%= link_to edit_location_path(t)do %>
	<div id="clickable">
	<%= t.address %>
	</div>
	<% end %></td>
      <td class='text-center'>
 	<%= link_to "http://maps.google.com/?q=#{t.address}",:target => "_blank", :class=>'btn btn-xs btn-info'  do %>
             <span class="glyphicon glyphicon-map-marker"></span>
         <% end %>

	</td>
	<td class='text-center'>
          <%= button_to location_path(t), method: :delete, data: { confirm: "You sure?" }, :class=>'btn btn-xs btn-warning' do %>
             <span class="glyphicon glyphicon-trash"></span>
         <% end %>
        </td>
    </tr>

<% end%>
</tbody>
</table>
