<h1>Locations</h1>
</br>
</br>

<% @locations.each do |t| %>
<%= t.name %> - <%= link_to t.address, "http://maps.google.com/?q=#{t.address}",:target => "_blank" %>

</br>
<%= t.created_at.strftime("%d-%m-%Y") %>
        <%= link_to "Edit", edit_location_path(t) %>
        <%= link_to "delete", location_path(t), method: :delete, data: { confirm: "You sure?" } %>
</br>----------------------

</br>
<% end%>
