.row
  .col-md-12
    .nave.navbar.navbar-inverse
      .container-fluid
        %ul.nav.navbar-nav
          %li= link_to request.fullpath, request.fullpath
          %li= link_to 'Home', root_path

        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Todays Jobs', todays_bookings_path
          - if current_user
            %li= link_to current_user.name, '#'
          - else
            %li= link_to 'Login', '#'
