<header>
<ul class="top">
  <li class="<%= 'top active' if params[:controller] == 'customers' %><%= 'top' if params[:controller] != 'customers' %>"><%= link_to "Customers", customers_path %></li>
  <li class="<%= 'top active' if params[:controller] == 'locations' %><%= 'top' if params[:controller] != 'locations' %>"><%= link_to "Locations", locations_path %></li>
  <li class="<%= 'top active' if params[:controller] == 'tasks' %><%= 'top' if params[:controller] != 'tasks' %>"><%= link_to "Tasks", tasks_path %></li>
  <li class="<%= 'top active' if params[:controller] == 'bookings' %><%= 'top' if params[:controller] != 'bookings' %>"><%= link_to "Bookings", bookings_path %></li>

  <li class="top" style="float:right"><a href="#">
  	<% if user_signed_in? %>
  	  <%= current_user.name %>
  	<% else %>
    	  Login
  	<% end %></a></li>

  <li class="<%= 'top active' if params[:controller] == 'todays_jobs' %><%= 'top' if params[:controller] != 'todays_jobs' %>" style="float:right"><%= link_to "Todays Jobs", todays_jobs_path %></a></li>

  <li class="<%= 'top active' if params[:controller] == ':controller/new' %><%= 'top' if params[:controller] != ':controller/new' %>" style="float:right;">
          <b><%= link_to "+", (request.fullpath + "/new")  %></b></li>

</ul>
</header>
